/* Chase Rindlisbacher 4/15/22 */

body {
    background-color: aliceblue;
}

h1 {
    color:rgb(130, 161, 255);
}

p {
    color:black;
}

span.subheading {
    color:rgb(130, 161, 255);
    font-style: bold;
}

img.aboutpg {
    vertical-align: top;
    float: right;
    left: 5px;
    margin-right: 15px;
    margin-bottom: 5px;
}

img.beside {
    vertical-align: top;
    margin-left: 5px;
}